@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

/*обнуление*/
/*example h1 { @include adaptiv-font(40,15); } */
* { font-family: 'Roboto', sans-serif; }

.header__item { margin: 5px 8px; text-transform: uppercase; display: flex; padding: 4px; }

.header__item a { background-color: #E2001A; border-style: solid; border-width: 4px; border-radius: 7px; padding: 6px 5px; font-weight: 600; color: white; border-color: #E2001A; transition: 0.25s; }

@media (max-width: 767px) { .header__item a { font-size: calc(10px + 8.5 * ((100vw - 320px) / 1280)); } }

@media (min-width: 767px) { .header__item a { font-size: calc(10px + 5 * (100vw / 1280)); } }

.header__item a:hover { color: #E2001A; background-color: white; }

.container { max-width: 1180px; margin: 0px auto; }

header { background-color: white; z-index: 5; }

.header__item { justify-content: flex-end; }

.header__call { flex-grow: 1; align-self: flex-end; }

@media (max-width: 440px) { .header__call { display: none; } }

.header__body { box-shadow: 0px 15px 5px -12px rgba(0, 0, 0, 0.2); background-color: white; position: relative; top: 0; height: 60px; width: 100%; display: flex; z-index: 10; }

.header__body.active { position: fixed; }

.header__contact-list { display: flex; flex-direction: row; }

@media (max-width: 480px) { .header__contact-list { justify-content: center; } }

.header__contact-list.scroll { padding-bottom: 60px; }

.header__logo { align-self: center; width: 300px; }

.header__logo img { object-fit: contain; }

.header__menu { display: flex; flex-wrap: wrap; }

.header__wrapper { max-width: 1180px; margin: 0px auto; display: flex; align-items: center; justify-content: space-between; width: 100%; padding-left: 10px; }

@media (max-width: 767px) { .header__wrapper { width: 210px; } }

.header__list { position: relative; display: flex; padding-top: 5px; margin: 10px 10px; }

.header__list > li { list-style: none; margin: 0 0 0 20px; }

.header__list > li > a { color: #E2001A; font-size: 16px; font-weight: 700; }

.header__list > li > a:hover { color: #fff; text-shadow: 1px 0px 1px #E2001A, -1px 0px 1px #E2001A, 0px 1px 1px #E2001A, 0px -1px 1px #E2001A; }

@media (min-width: 767px) { .current-page:after { margin-top: 6px; content: ''; display: block; height: 2px; background: #E2001A; } }

.header__list > .header__call { display: none; }

@media (max-width: 440px) { .header__list > .header__call { display: flex; margin: 0 auto; } }

@media (max-width: 767px) { body.lock { overflow: hidden; } .header__body { height: 40px; } .header__contact-list.scroll { padding-bottom: 40px; } .header__logo { flex: 0 0 200px; } .header__menu { display: block; position: absolute; top: 0; left: -100%; top: 0; transition: all 0.3s ease 0s; display: flex; height: 100%; width: 100%; } .header__menu.active { left: 0%; } .header__list { z-index: 3; background-color: white; margin: 0; flex-direction: column; width: 100%; justify-content: center; box-shadow: 0 1px 2px red; } .header__list > li { align-self: center; margin: 10px auto; } .header__list > li > a { font-size: 20px; padding: 10px; } .header__burger { display: block; width: 33px; min-width: 33px; height: 29px; position: relative; z-index: 6; margin: 5px; } .header__burger:before, .header__burger:after { content: ''; background-color: #E2001A; position: absolute; width: 100%; height: 3px; left: 0; transition: all 0.3s ease 0s; } .header__burger:before { top: 0; } .header__burger:after { bottom: 0; } .header__burger > span { position: absolute; background-color: #E2001A; position: absolute; left: 0; width: 100%; height: 3px; top: 13px; transition: all 0.3s ease 0s; } .header__burger.active:before { transform: rotate(45deg); top: 13px; } .header__burger.active:after { transform: rotate(-45deg); bottom: 13px; } .header__burger.active > span { transform: scale(0); } }

footer { background: url("/assets/images/footer.jpg") center; }

.footer__image { box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2); margin-top: 10px; }

.footer__wrapper { display: flex; flex-direction: column; }

.footer__contact { display: flex; margin: 10px; flex-wrap: wrap; justify-content: space-between; }

.footer__policy { display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; margin: 10px; }

.footer__policy > div { display: flex; }

.footer__policy > div > span { margin: 5px; text-align: center; }

.footer__conteiner { margin: 10px; }

.footer__title { margin-bottom: 10px; color: #E2001A; font-size: 18px; }

.footer__item { margin: 8px; }

.footer__item a { color: black; }

.footer__item a:hover { color: #fff; text-shadow: 1px 0px 1px #E2001A, -1px 0px 1px #E2001A, 0px 1px 1px #E2001A, 0px -1px 1px #E2001A; }

.footer__socials ul { display: flex; flex-direction: row; }

.footer__socials ul > li { margin: 5px; }

.footer__socials a { display: flex; }

.footer__socials a:hover { filter: invert(1) drop-shadow(0px 0px 1px red); }

.footer__socials a img::hover { filter: drop-shadow(0px 0px 1px green); }

.popup { z-index: 10; position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); top: 0; left: 0; overflow-y: auto; overflow-x: hidden; opacity: 0; visibility: hidden; transition: all 0.8s ease 0s; }

.popup:target { opacity: 1; visibility: visible; }

.popup:target .popup__content { transform: translate(0px, 0px); opacity: 1; }

.popup__body { min-height: 100%; display: flex; align-items: center; justify-content: center; padding: 30px 10px; transition: all 0.8s ease 0s; }

.popup__content { display: flex; flex-direction: column; color: black; box-shadow: 0px 0px 10px white; position: relative; transition: all 0.8s ease 0s; opacity: 0; transform: translate(0px, -100%); border-radius: 10px; }

.popup__close { content: ''; width: 30px; height: 30px; position: absolute; right: 0px; top: 10px; }

.popup__close:before { content: ''; background-color: white; position: absolute; right: 10px; top: 15px; height: 3px; transform: rotate(45deg); width: 25px; }

.popup__close:after { content: ''; background-color: white; position: absolute; right: 10px; top: 15px; height: 3px; transform: rotate(-45deg); width: 25px; }

.popup__title { color: white; background-color: #E2001A; max-width: 800px; border-radius: 10px 10px 0 0; font-size: 24px; padding: 0px 0px 1rem 0px; padding: 20px 20px 15px 20px; text-align: center; display: flex; flex-direction: column; }

.popup__title span { margin-top: 2px; font-size: 16px; }

.popup__wrapper { background-color: white; flex-grow: 1; border-radius: 0 0 10px 10px; padding: 0 10px; display: flex; justify-content: center; }

.popup__area { position: absolute; height: 100%; width: 100%; top: 0; left: 0; }

.popup__text { display: flex; padding: 10px; }

.popup__text .forma { display: flex; flex-direction: column; }

.popup__text .forma > input { margin: 5px; padding: 10px; border: 3px solid #E2001A; border-radius: 10px; margin: 10px; }

.popup__text .forma > input:required:invalid { border: 2px solid #E2001A; }

.btn_submit { color: white; background-color: #E2001A; transition: 0.4s; }

.btn_submit:hover { box-shadow: 0px 0px 10px red; background-color: #E2001A; }

.sended { visibility: visible; text-align: center; transition: opacity 0.4s; color: green; opacity: 0; }

.sended.active { opacity: 1; }

/*# sourceMappingURL=default.css.map */